<!DOCTYPE html>
<html>
<head>    
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title}}</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.ico">
</head>
<body>
    <div id="container">
        <div id="header">
            <h1>{{name}}</h1>
        </div>
        <div id="content">
{{{content}}}
        </div>
        <div id="footer">
            <p>Made with 🍕 in Waterloo. Check this out on <a href="https://bitbucket.org/bytang/badger/" target="_blank">Bitbucket</a>!</p>
        </div>
    </div>
</body>
</html>