  <form class="pure-form pure-g" method="POST">
    <div class="pure-u-1-6 pure-u-md-1-12 pure-u-xl-2-24">
      <select name="region" class="pure-input-1">
        <option>NA</option>
        <option>EUW</option>
        <option>EUNE</option>
        <option>BR</option>
      </select>
    </div>

    <div class="pure-u-2-3">
      <input class="pure-input-1" name="name" type="text" placeholder="Summoner" autofocus required>
    </div>

    <div class="pure-u-1-6">
      <button class="pure-button pure-button-primary pure-input-1" type="submit">
        Find
      </button>
    </div>
  </form>